<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="orthos_halo">		
<xacro:macro name="orthos_halo">

  <link name="halo">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.56" />
      <inertia ixx="0.007" ixy="0" ixz="0" iyy="0.008" iyz="0" izz="0.014" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://orthos_description/meshes/halo.stl" />
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://orthos_description/meshes/halo.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="halo_joint" type="fixed">
    <origin xyz="-0.1155 0 -0.1559" rpy="0 0 -1.5708" />
    <parent link="base_frame_link" />
    <child link="halo" />
    <axis xyz="0 0 0" />
  </joint>

</xacro:macro>
</robot>
