<?xml version="1.0"?>
<launch>

	<!--<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="linaxis_controller drillmotor_controller joint_state_controller"/>-->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="linaxis_controller drillmotor_controller joint_state_controller"/>

  	
</launch>
