<?xml version="1.0"?>
<launch>


	<!-- send urdf to param server -->
	<!-- load controller-->
	<rosparam command="load" file="$(find orthos_driver)/config/kackmotor_controller.yaml" />
	<node name="kackmotor_driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" launch-prefix="">
		<rosparam command="load" file="$(find orthos_driver)/config/can0.yaml" />
		<rosparam command="load" file="$(find orthos_driver)/config/kackmotor_driver.yaml" />
		<remap from="/joint_states" to="/orthos_hardware_interface_joint_states"/>
	</node>

    <node pkg="rosservice" type="rosservice" name="init" args="call --wait /driver/init" output="screen" />



</launch>
